*{
	box-sizing:border-box;
	margin:0px;
	font-family:sans-serif;
}
.navmenu{
	font-size:20px;
	color:royalblue;
	font-weight:bolder;

}
.logo
{
	font-size:25px;
	font-family:elephant;
	font-varient:small_caps;
	color:orangered;
}

.sections-menu{
	position: relative;
	top: 100px;
	left: 0;
}
.sections-menu div
{
	height: 500px;
	width: 1200px;
	border: 5px solid red;

}
.navigation_bar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
	height: 30px;
}

.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;

}
html
{
	scroll-behavior: smooth;
}
#home{
	height: 500px;
	width: 100%;
	background-image: url(https://media.tenor.com/s-rwhJc8bfQAAAAi/love-cute.gif);
	background-repeat: no-repeat;
	background-position: 100% 85%;
	position: relative;
}

.homeinfo{
	position: absolute;
	top: 70px;
	left: 50px;
	height: 400px;
	width: 800px;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bolder;
}
.ginfo{
	font-variant: small-caps;
}
.myname{
	font-family: Elephant;
	color: royalblue;
	font-size: 50px;
}

.fullstack{
	color: orangered;
	font-size: 33px;
}
.resumebtn{
	border: none;
	height: 50px;
	width: 170px;
	color: white;
	background-color: royalblue;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bolder;
	transition-duration: 1s;
}
.resumebtn:hover{
	transform: scale(1.1);
	background-color: white;
	color: royalblue;
	border: 3px solid royalblue;
}
#about{
	margin-top: 50px;
	width: 100%;
	height: 420px;
	background-color: whitesmoke;
	display: inline-flex;
}
.img{
	padding: 70px;
}
.img img {
	height: 250px;
	width: 250px;
	transition-duration: 1.5s;
}
.img img:hover{
	transform: scale(1.2);
	border-radius: 50px;
	box-shadow: 0px 0px 20px grey;
}
.carrerobj{
	font-size: 25px;
	color: grey;
}

.carrerobj p{
	text-align: justify;
	text-indent: 20%;
	margin-top: 50px;
	padding: 0px 30px;
}
.heading{
	margin-top: 40px;
	color: royalblue;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;

}

#skills{
	height: 600px;
	width: 100%;
/*	background-color: lightgray;*/
}
.skillsheading{
	color: orange;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 30px;
	margin-top: 20px;

}
td:hover{
	box-shadow: 0px 0px 20px grey;
	border-radius: 50px;
}
.skillstable tr td p{
	font-size: 24px;
	font-weight: bolder;
	margin-top: 25px;
}
.skillstable tr td {
	transition-duration: 1s;

}
#projects
{
	height: 900px;
	width: 100%;
	background-color: whitesmoke;
}

.proj{
	margin-top: 50px;
}

/*.cardproject{
	width: 80%;
	padding: 0px 10%;
}*/

.card-deck{
	width: 100%;
	margin-top: 60px;
	height: 30px;
}
#contact{
	height: 500px;
	width: 100%;
	background-color: lightgray;
	display: inline-flex;
}
.mycntinfo{
	width: 60%;
}